@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
    color: hsl(0, 0%, 0%);
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
     font-optical-sizing: auto;
     font-weight: normal;
     font-style: normal;
}

.main-header {
    display: flex;  
    padding: 10px;
    border-bottom: 5px solid;
    border-color: transparent;
    /* borde con linear gradient*/
    background:
        /* capa superior: fondo negro */
        linear-gradient(#121212, #121212) padding-box,
        /* capa inferior: degrade */
        linear-gradient(80deg,
            rgb(245, 251, 63) 0%,
            rgba(43, 172, 237, 1) 32%,
            rgba(151, 185, 79, 1) 60%,
            rgba(174, 92, 199, 1) 72%,
            rgba(252, 70, 107, 1) 100%) border-box;
}

.main-header .logo-color-ful {
    width: 350px;
}

nav ul {
    display: flex;
     flex-direction: row;
    height: fit-content;
}

nav ul li {
    text-align: center;
    margin-right: 20px;
    list-style: none;
}

nav ul label {
    margin-right: 5px;
}

nav ul li button {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
}

.main-header ul li {
    list-style: none
}

.palette-container {
    display: flex;
     justify-content: center;
     flex-direction: row;
    width: 100%;
    flex-grow: 1;
}

.palette-container .color-card {
    display: flex;
     justify-content: center;
     align-items:end;
    padding-bottom: 30px;
    width: 20%;
    min-height: calc(100vh - 400px);
    flex-grow: 1;
}

#saved-palettes-section {
    display: flex;
     justify-content: center;
     flex-direction: column;
    text-align: center;
}

#saved-palettes-section .saved-palette-container {
    display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    
    width: 100vw;
    gap: 15px;
}

#saved-palettes-section .saved-palette-container .palette {
    display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: end;
    width: 80%;
    height: 100px;
}

#saved-palettes-section .saved-palette-container .palette .color-card {
    display: flex;
     justify-content: center;
     align-items:end;
    width: 15%;
    height: 100%;
}

footer {
    display: flex;
     flex-direction: row;
     justify-content: center;
    text-transform: uppercase;
}

.toast {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    padding: 10px 20px;
    border-radius: 100px;
    font-weight: bold;
    transition: opacity 0.3s ease, transform 0.3s ease;
    box-shadow: -1px 3px 100px 40px rgba(14, 168, 12, 0.59);
     -webkit-box-shadow: -1px 3px 100px 40px rgba(36, 206, 36, 0.59);   
    border: 2px solid;
     border-color: transparent;
     /* borde con linear gradient*/
     background:
        /* capa superior: fondo negro */
        linear-gradient(#121212, #121212) padding-box,
        /* capa inferior: degrade */
        linear-gradient(80deg,
            rgb(217, 224, 7) 0%,
            rgb(83, 192, 0) 32%,
            rgb(251, 255, 17) 60%,
            rgb(4, 108, 136) 72%,
            rgb(207, 61, 90) 100%) border-box;
}

.toast img {
    padding: 5px;
    margin-left: 10px;
    border-radius: 100px;
    background-color: rgb(0, 173, 0);
}

.toast.hidden {
    opacity: 0;
    transform: translateX(-50%);
    pointer-events: none;
}